*{
    box-sizing: border-box;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

p{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    min-width: 320px;
}

/* HEADER */
.header{
    background-image: url("./image/fondo.png");
    height: 600px;
    width: 100%;
}

/* MENU */
.main{
    height: 90px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo,
.main-options-icon{
    height: 50px;
}

.main-options{
    display: none;
}

/* WELCOME */
.welcome{
    height: 510px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.text-welcome{
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

.welcome-img-mobile{
    margin: 0 auto;
}

.welcome-img-extend{
    display: none;
}

/* NEW PRODUCT */
.info{
    background: #141414;
    height: 530px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.product-new{
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.title-product-new{
    color: white;
    text-align: center;
    padding: auto;
}

.text-description{
    color: white;
    font-size: 16px;
    max-width: 380px;
}

.img-product-new{
    height: 140px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

/* NUESTROS PRODUCTOS */
.services{
    display: grid;
}

.title-services{
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

.products{
    margin: auto;
    max-width: 450px;
    display: grid;
    gap: 20px;
}

.product{
    padding: 40px;
    margin: 0 auto;
}

.img-product{
    max-height: 140px;
    max-width: 240px;
    margin: 0px auto;
    display: flex;
}

.title-product{
    text-align: center;
}

.text-product{
    text-align: center;
}

/* CONTACTO */
.contact{
    background: #141414;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-row: auto;
    justify-content: center;
    align-items: center;
}

.title-contact{
    color: white;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* FORMULARIO */
.form{
    min-width: 320px;
    max-width: 500px;
    display: grid;
    gap: 5px;
}

.fielset{
    display: grid;
    padding: 10px;
    gap: 5px;
}

.label{
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 13px;
    color: white;
}

.input-name,
.input-email,
.input-textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 1px;
    padding: 5px;
}

.input-textarea{
    width: 100%;
    min-width: 100%;
    max-width: 300px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 0 auto;
}

/* BOTON */
.button-send{
padding: 10px;
}

.button{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: rgba(255, 217, 83, 1);
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    font-size: 24px;
    border: none;
    border-radius: 1px;
}

/* FOOTER */
.footer{
    background-color: whitesmoke;
    height: 500px;
    width: 100%;
    padding: 10px;
    display: grid;
    font-family: 'Roboto', sans-serif;
}

/* DVLP DESING */
.footer-box{
    display: grid;
}

.logo-box{
    font-size: 15px;
    padding: 20px;
}

.logo{
    display: grid;
}

/* LINK */
.link-box{
    padding: 20px;
}

.link-instagram,
.link-linkedin,
.link-github{
    display: flex;
    align-items: center;
    padding: 5px;
}
.link{
    padding: 5px;
}
