*{
    box-sizing: border-box;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

p{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    min-width: 320px;
}

/* HEADER */
.header{
    background-image: url("./image/fondo.png");
    height: 660px;
    width: 100%;
}

.header-box{
    margin: o auto;
    padding: 20px;
}
@media (min-width: 768px){
    .header-box{
        padding: 40px;
    }
}

/* MENU */
.main{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO TDDY */
.logo{
    height: 50px;
}
@media (min-width: 768px){
    .logo{
        height: 80px;
    }
}

/* MENU MOBILE */
.main-mobile{
    height: 50px;
}
@media (min-width: 768px){
    .main-mobile{
        display: none;
    }
}

/* MENU DESKTOP */
.main-desktop{
    display: none;
}
@media (min-width: 768px){
    .main-desktop{
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        display: flex;
        gap: 20px;
    }
}

/* WELCOME */
.welcome{
    height: 510px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
@media (min-width: 768px){
    .welcome{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}

/* WELCOME TO TDDY */
.welcome-text{
    width: 300px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}
@media (min-width: 768px){
    .welcome-text{
        text-align: start;
    }
}

/* WELCOME - IMG - MOBILE */
.welcome-img-mobile{
    width: 310px;
    margin: 0 auto;
}
@media (min-width: 768px){
    .welcome-img-mobile{
        display: none;
    }
}

/* WELCOME - IMG - DESKTOP */
.welcome-img-desktop{
    display: none;
}
@media (min-width: 768px){
    .welcome-img-desktop{
        max-width: 400px;
        display: grid;
        align-self: end;
    }
}

/* NOVEDADES */
.novedades{
    background: #141414;
    height: 530px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width: 768px){
    .novedades{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}

/* NEW PRODUCT */
.product-new{
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    text-align: center;
}

/* TITULO - NEW PRODUCT */
.product-new-title{
    color: white;
    text-align: center;
    padding: auto;
}
@media (min-width: 768px){
    .product-new-title{
        text-align: start;
    }
}

/* DESCRIPCION - NEW PRODUCT */
.product-new-text{
    color: white;
    font-size: 16px;
    max-width: 380px;
}
@media (min-width: 768px){
    .product-new-text{
        text-align: start;
    }
}

/* IMG - NEW PRODUCT */
.product-new-img{
    height: 190px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
@media (min-width: 768px){
    .product-new-img{
        height: 230px;
    }
}

/* SERVICIOS */
.services{
    display: grid;
}
@media (min-width: 768px){
    .services{
        display: grid;
        justify-content: center;
        align-content: center;
    }
}

/* NUESTROS PRODUCTOS */
.title-services{
    margin: 50px auto;
    padding: 10px;
    text-align: center;
}

/* PRODUCTOS BOX */
.products{
    margin: auto;
    max-width: 400px;
    display: grid;
    gap: 50px;
}
@media (min-width: 768px){
    .products{
        max-width: none;
        display: flex;
        flex-direction: row;
    }
}

/* PRODUCTO */
.product{
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 120px 80px auto;
    justify-content: center;
    align-items:flex-start;
}
@media (min-width: 768px){
    .product{
        max-width: 300px;
    }
}

.product-img{
    max-height: 140px;
    max-width: 240px;
    margin: 0px auto;
    display: flex;
}

.product-title{
    padding-top: 5px;
    text-align: center;
}

.product-text{
    text-align: center;
}

/* CONTACTO */
.contact{
    background: #141414;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}


.contact-box{
    display: grid;
    /* grid-row: auto; */
}
@media (min-width: 768px){
    .contact-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 20px;
    }
}

/* ESCRIBIME */
.contact-title{
    color: white;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
@media (min-width: 768px){
    .contact-title{
        display: grid;
        align-self:flex-start;
    }
}

/* FORMULARIO */
.form{
    min-width: 320px;
    max-width: 500px;
    display: grid;
    gap: 5px;
}

.fielset{
    display: grid;
    padding: 10px;
    gap: 5px;
}

.label{
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 13px;
    color: white;
}

.input-name,
.input-email,
.input-textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 1px;
    padding: 5px;
}

.input-textarea{
    width: 100%;
    min-width: 100%;
    max-width: 300px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 0 auto;
}

/* BOTON */
.button-send{
padding: 10px;
}

.button{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: rgba(255, 217, 83, 1);
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    font-size: 24px;
    border: none;
    border-radius: 1px;
}

/* FOOTER */
.footer{
    background-color: whitesmoke;
    height: 500px;
    width: 100%;
    padding: 10px;
    display: grid;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 768px){
    .footer{
        background-image: url("./image/fondo.png");
    }
}

/* FOOTER BOX */
.footer-box{
    display: grid;
}
@media (min-width: 768px){
    .footer-box{
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
}

/* DVLP DESING */
.footer-logo{
    font-size: 15px;
    padding: 20px;
}

.logo{
    display: grid;
}

/* LINK */
.footer-link{
    padding: 20px;
}

.link-instagram,
.link-linkedin,
.link-github{
    display: flex;
    align-items: center;
    padding: 5px;
}
.link{
    padding: 5px;
}
